extends base

block content
    main
        h1 hello this is clone
        .Wrapper
            #container-top
                p 이곳은 멜론코딩 세상입니다.
            #container-mid 
                p 여기는 영상을  넣습니다
            #container-end
                p 여기는 playlist를 넣습니다
            #container-right
                p 여기는 chart를 넣습니다
        
    